.container {
    padding: 0 2rem;
  }



/* used in chat window*/
.dickcornish {
  border-radius: 15px; 
  background-color: #fbfbfb;
}

.hellobitch {
  border-top-left-radius: 15px; 
  border-top-right-radius: 15px;
}
  
.dfffffffff {
  border-top: 4px solid #ffa900;
}
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  